{
	"semi": true,
	"singleQuote": false,
	"endOfLine": "lf",
	"trailingComma": "all",
	"tabWidth": 2,
	"printWidth": 125,
	"bracketSpacing": true,
	"useTabs": true,
	"overrides": [
		{
			"files": "*.yaml",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
